/* SEÇÃO DE CONTATO */
#contato form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

#contato input,
#contato textarea {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

#contato button {
    background: #4a67ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#contato button:hover {
    background: #3a55d1;
}
